<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href = "/" class = "navbar-brand">Datos de Inicio</a>
    </nav>
    <div class = "contrainer">
        <div class = "col-md-5">
            <div class = "card-body">
                <form action = "/add" method = "post">
                    <div class="from group">
                        <input type = "text" name = "NOMBRE" placeholder = "Nombre /s" class = "from-control">
                    </div>
                    <div class="from group">
                        <input type = "text" name = "APELLIDO" placeholder = "Apellido /s" class = "from-control">
                    </div>
                    <div class="from group">
                        <input type = "date" name = "FECHANAC" placeholder = "Fecha de Nacimiento" class = "from-control">
                    </div>
                    <button class = "btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
        <div class = "col-md-s">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre /s</th>
                        <th>Apellido /s</th>
                        <th>Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < valores.length; i++){  %>
                        <tr>
                            <td><%= i+1  %></td>
                            <td><%= valores[i].NOMBRE  %></td>
                            <td><%= valores[i].APELLIDO  %></td>
                            <td><%= valores[i].FECHANAC  %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>